<h1>My to do list</h1>


<%= link_to 'look at your tasks', tasks_path %>



















<!--< percent equals percent > means it will show what is between the tags, <%%> does not show on the view-->
<!-- puts, prints to the server cmd line-->
